
<link rel="stylesheet" href="style.css">

<div class="centered">


  <h2 style="font-family: CenturyGothic; font-size: 20px; margin-left:-34px"> It all starts here... </h2>

  <h3> <a href="<%="/leaderboard"%>"> <img src="http://detroitk12.org/content/wp-content/uploads/2013/10/nfl-logo.jpg" onmouseover="this.src='http://www.myfacewhen.net/uploads/218-funny-face.jpg'" onmouseout="this.src='http://detroitk12.org/content/wp-content/uploads/2013/10/nfl-logo.jpg'"width="75px" height="75px" style="margin-right:-10px"/> </a> </h3>



</div>
